<div class="flex flex-col items-center">
    <div class="w-[220px] bg-[var(--surface-overlay)] border-[var(--surface-border)] rounded-lg border shadow-sm relative z-10
                hover:border-[var(--primary-color)] transition-all overflow-hidden cursor-grab active:cursor-grabbing"
         pDraggable
         (onDragStart)="onDragStart()"
         pDroppable
         (onDrop)="onDrop()"
         >

        <div class="h-1.5 w-full bg-[var(--primary-color)]"></div>

        <div class="p-3 flex items-center gap-3">
            <img [ngSrc]="node.data?.imageUrl || 'assets/defaultAvatar.png'"
                 width="40"
                 height="40"
                 class="rounded-full object-cover border p-0.5"
                 alt="avatar">
            <div class="flex flex-col text-left overflow-hidden">
                <span class="text-sm font-bold text-[var(--text-color)] truncate">
                    {{ node.label }}
                </span>
                <span class="text-[11px] text-[var(--text-color)] opacity-70 truncate">
                    {{ node.data?.positionName || 'Waiting...' }}
                </span>
            </div>
        </div>
    </div>

    @if (node.children && node.children.length > 0) {
        <div class="w-[2px] h-6 bg-[var(--primary-color)]"></div>

        <div class="flex">
            @for (child of node.children; track child.data?.id; let first = $first; let last = $last) {
                <div class="relative flex flex-col items-center">

                    <div class="absolute top-0 w-full h-[2px] flex">
                        <div class="flex-1" [class.bg-[var(--primary-color)]]="!first"></div>
                        <div class="flex-1" [class.bg-[var(--primary-color)]]="!last"></div>
                    </div>

                    <div class="w-[2px] h-6 bg-[var(--primary-color)] relative z-0"></div>

                    <div class="px-2">
                        <app-org-node [node]="child"></app-org-node>
                    </div>
                </div>
            }
        </div>
    }
</div>