.profile-container {
  min-height: 100vh;
  padding-top: 50px; // เพื่อให้ Card ไม่ติดขอบบนมากเกินไป
  background-color: var(--surface-hover); // ใช้ PrimeNG Theme Variable สำหรับพื้นหลัง
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color); // เพิ่มกรอบตามธีม
}

// ปรับแต่ง label สำหรับโหมดดูข้อมูล
.field {
  p {
    color: var(--text-color);
  }
  label {
    display: block; // ให้ label อยู่คนละบรรทัดกับข้อมูล
    margin-bottom: 4px;
    color: var(--text-color-secondary); // สีรอง
  }
}