<toast-messages/>
<p-fluid [formGroup]="requestForm">
    <div class="card flex flex-col gap-6 p-6">
        <!--<p-breadcrumb [model]="items" [home]="home" />-->
        <h2 class="text-xl font-bold mb-4">Document Form</h2>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Employee *</label>
            <div class="col-span-12 md:col-span-6">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'Employee'" formControlName="employee"/>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Date Work *</label>
            <div class="col-span-12 md:col-span-6">
                <p-datepicker formControlName="dateWork" [showIcon]="true" dateFormat="dd/mm/yy"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Date To</label>
            <div class="col-span-12 md:col-span-6">
                <p-datepicker formControlName="dateTo" [showIcon]="true" dateFormat="dd/mm/yy"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Pun I</label>
            <div class="col-span-12 md:col-span-6 flex gap-2">
                <p-datepicker class="flex-1" formControlName="punI_D" [showIcon]="true"></p-datepicker>
                <p-datepicker class="w-32" formControlName="punI_T" [timeOnly]="true" [showTime]="true"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Pun O</label>
            <div class="col-span-12 md:col-span-6 flex gap-2">
                <p-datepicker class="flex-1" formControlName="punO_D" [showIcon]="true"></p-datepicker>
                <p-datepicker class="w-32" formControlName="punI_T" [timeOnly]="true" [showTime]="true"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Reason *</label>
            <div class="col-span-12 md:col-span-6">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'Reason'" formControlName="reason"/>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4">
            <label class="col-span-12 md:col-span-2 font-medium mt-2">หมายเหตุ</label>
            <div class="col-span-12 md:col-span-6">
                <textarea pTextarea formControlName="remark" rows="4" maxlength="255"></textarea>
                <small class="text-gray-500">Enter characters up to 255 characters</small>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4">
            <label class="col-span-12 md:col-span-2 font-medium">ไฟล์แนบ</label>
            <div class="col-span-12 md:col-span-6">
                <p-fileupload name="demo[]"
                              (onUpload)="onUpload($event)"
                              [multiple]="true"
                              accept=".doc,.jpg,.pdf,.xls,.xlsx,.xlm,.png"
                              maxFileSize="2000000"
                              mode="advanced"
                              url="https://www.primefaces.org/cdn/api/upload.php">
                    <ng-template #empty>
                        <div class="my-5">Drag and drop files to here to upload.</div>
                    </ng-template>
                    <ng-template #content>
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileupload>
                <div class="mt-3">
                <small class="text-gray-500">DOC, JPG, PDF, XLS, XLM, PNG | (Limit Size 2 MB)</small>
                </div>
            </div>
        </div>

        <div class="flex justify-start gap-2 mt-6">
            <p-button label="Submit" (onClick)="onSubmit()" [loading]="loading" [disabled]="requestForm.invalid"></p-button>
            <p-button label="Cancel" (onClick)="onCancel()" severity="secondary" [outlined]="true"></p-button>
        </div>
    </div>
</p-fluid>
