<toast-messages/>
<p-fluid [formGroup]="requestForm">
    <div class="card flex flex-col gap-6 p-6">
        <!--<p-breadcrumb [model]="items" [home]="home" />-->
        <h2 class="text-xl font-bold mb-4">Document Form</h2>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Employee *</label>
            <div class="col-span-12 md:col-span-6">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'Employee'" formControlName="emId"/>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Date Work *</label>
            <div class="col-span-12 md:col-span-6">
                <p-datepicker formControlName="dateWork" [showIcon]="true" dateFormat="{{appProperties.inputDateFormat}}"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Date To</label>
            <div class="col-span-12 md:col-span-6">
                <p-datepicker formControlName="dateTo" [showIcon]="true" dateFormat="{{appProperties.inputDateFormat}}"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Pun I</label>
            <div class="col-span-12 md:col-span-6 flex gap-2">
                <p-datepicker class="flex-1" formControlName="punI_D" dateFormat="{{appProperties.inputDateFormat}}" [showIcon]="true"></p-datepicker>
                <p-datepicker class="w-32" formControlName="punI_T" [timeOnly]="true" [showTime]="true"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Pun O</label>
            <div class="col-span-12 md:col-span-6 flex gap-2">
                <p-datepicker class="flex-1" formControlName="punO_D" dateFormat="{{appProperties.inputDateFormat}}" [showIcon]="true"></p-datepicker>
                <p-datepicker class="w-32" formControlName="punO_T" [timeOnly]="true" [showTime]="true"></p-datepicker>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4 items-center">
            <label class="col-span-12 md:col-span-2 font-medium">Reason *</label>
            <div class="col-span-12 md:col-span-6">
                <app-lookup-autocomplete [isValidateFailed]="isValidateFailed" [clazzName]="'Reason'" formControlName="reasonId"/>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4">
            <label class="col-span-12 md:col-span-2 font-medium mt-2">หมายเหตุ</label>
            <div class="col-span-12 md:col-span-6">
                <textarea pTextarea formControlName="remark" rows="4" maxlength="255"></textarea>
                <small class="text-gray-500">Enter characters up to 255 characters</small>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-4">
            <label class="col-span-12 md:col-span-2 font-medium">Attachment</label>
            <div class="col-span-12 md:col-span-6">
                <app-files-upload formControlName="attachment"/>
            </div>
        </div>

        <div class="flex justify-start gap-2 mt-6">
            <p-button label="Submit" (onClick)="ngGenerateFlow()" [loading]="loading" *ngIf="requestForm.enabled" [disabled]="requestForm.invalid"></p-button>
            <p-button label="Drafts" (onClick)="ngDrafts()" [loading]="loading" *ngIf="requestForm.enabled" [disabled]="requestForm.invalid"></p-button>
            <p-button label="Cancel" (onClick)="pageBack()" severity="secondary" [outlined]="true"></p-button>
        </div>
    </div>
</p-fluid>
